 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*ESTILOS PARA EL NAV*/
.nav>li>a>img{
  padding-right: 0;
  padding-left: 0;
}
nav.navbar.navbar-default{
  margin-bottom: 0;
}
span.glyphicon.glyphicon-envelope{
  font-size: 20px;
  padding-left: 2vw;
}
ul.nav.nav-tabs.nav-justified{
  display: inline-flex;
}
ul.nav.nav-tabs.nav-justified li{
  padding-right: 0;
  padding-left: 0;
}
div.container-fluid.style-container-bottom{
  background-color: #FFD500;
  padding-bottom: 1.5vh;
}
aside{
  background-color: #2B2B2B;
}
.padding-top-4{
  padding-top: 4.5vh;
}
.text-white{
  color: #FFF;
}
