 @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
/*CLASES REUTILIZABLES*/
.padding-top-4{
  padding-top: 4.5vh;
}
.text-white{
  color: #FFF;
}
.padding-0{
  padding: 0;
}
.style-box-yellow{
  background-color: #FFD500;
}
.flex-direction-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.margin-top-99{
  margin-top: 71px;
}
/*ESTILOS PARA EL NAV*/
nav.navbar.navbar-default{
  margin-bottom: 0;
}
.navbar-lab{
  padding: 10px 0px;
}
span.glyphicon.glyphicon-envelope{
  font-size: 38px;
  padding-left: 2vw;
}
.logo-lab{
  width: 195px;
}
.logo-ale{
  width: 48px;
}
/*ESTILOS PARA SECCIÓN ASIDE*/
aside{
  background-color: #2B2B2B;
}

/*ESTILOS PARA TABS*/
ul.nav.nav-tabs{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.col-xs-12 a{
  text-decoration: none;
  color: #000;
}
.col-xs-12 a:hover{
  border: 1px solid #FFD500;
}

@media (min-width: 768px) {
  aside.col-sm-4.margin-top-99{
    height: 90vh;
    position: fixed;
    margin-top: 99px;
  }
  section{
    margin-top: 99px;
  }
}
